# Ignora tudo por padrão, menos
*
!.gitignore

!Makefile
!relatorio_equivalencia.pdf
!README.md

# Mantém tudo dentro de rtl, synth e fm
!rtl/
!rtl/**

!synth/
!synth/**

!fm/
!fm/**

